<h1>Admin Database Information</h1>
<table class="table table-striped">
  <tbody>
    <tr>
      <td class="success text-center status">
      Products in Database:
        <%= @product_count %>
      </td>
      <td class="warning text-center status">
      Categories in Database:
        <%= @category_count %>
      </td>
    </tr>
  </tbody>
</table>